<input class="inputPhoto" type="text" (input)="onSearch($event)" placeholder="Enter photo name">

<div class="wrapper">
  <div class="container-images" *ngFor="let item of arrSearchResPhotos | paginate: { itemsPerPage: 8, currentPage: p }">
      <img (click)="showPopUpPhoto(item)" class="main_card-img" src="{{item.url}}" title="{{item.title}}">
  </div>
</div>

<ng-container *ngIf="arrSearchResPhotos.length; then notEmpty; else empty"></ng-container>

<ng-template #notEmpty>
  <div class="divPag">
    <pagination-controls  class="pagination" (pageChange)="p = $event"></pagination-controls>
  </div>
</ng-template>

<ng-template #empty></ng-template>



