.main-container {
  max-width: 1900px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "header"
  "photo";
  grid-template-rows: 100px 1fr;
  height: 100vh;
}

.header {
  align-self: center;
  align-items: center;
  grid-area: header;
  display: grid;
  grid-template-columns: 250px 1fr 250px;
}

.header__title {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  color: #605e5e;
}

.header__logo-user {
  display: flex;
  justify-content: center;
}

#Icons {
  transition: 1s;
}

#Icons:hover {
  fill: black;
}

@media (max-width: 1400px) {
  .header__title {
    font-size: 50px;

  }
}
