.inputPhoto:hover {
  border: 1px solid #038181;
}

.wrapper {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
  padding-bottom: 20px;
}

.main_card-img {
  object-fit: cover;
  width: 100%;
  height: 240px;
  transition: .4s;
}

button {
  margin-top: 5px;
  width: 100%;
}

.containerTitleNoPhoto {
  margin-top: 100px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  color: #605e5e;
}
